* {
    box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    

    transition: background 0.3s linear, color 0.3s linear;
}

table {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 100%;
  font-weight: bold;
  background-color: white;

}
 h1 {
   color: #ea503f;
   font-family: Arial;
 }

 .btn {
    background-color: rgb(153, 51, 90);
    color: white;
    font-family: inherit;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin:1rem;
}

#container{
    position:fixed;
    bottom:10px;
    right:10px;
}
.notification {
    background-color: #56CCF2;
    border-radius: 5px;
    color: black;
    padding: 2rem;
    margin: 1rem;
}

.notification h4 span{
    color:rgb(235, 33, 33);
}